.file{
  padding: 11px;
  font-size: 13px;
  color: white;
  background: #7c00db40!important;
  border: solid 1px #c3c3c3;
  border-radius: 10px;
  
}

.file:hover{
  cursor: pointer;
}

.text{
  padding: 10px;
    outline: none;
    background: #ffffff00!important;
    /* background: #ffffffc2; */
    border: 0;
    color: white;
    border-bottom: solid 1px #c5c5c5;
    border-radius: 10px;
    
}


@media screen and (max-width: 764px){
 .w-25{
  width: 100%!important;
 }
}

footer:hoveR{
  cursor: pointer;

}

footer .fs-1{
  transition: all .4s ease-in-out;
}
footer p{
  transition: all 0.8s;
}

footer:hover p{
  color: #c7a9e7!important;
  transition: all 0.5s;
}
footer:hover .fs-1{
  transform: rotate(360deg);
}

a{
  text-decoration: none;
}